.root {
-fx-background-color: #2B2A2A;
}

.toplabel { -fx-text-fill: #DBDADA; }

.loginbutton {
-fx-background-color: #ECECEC;
-fx-text-fill: #ffffff;
}

.anchorpane { -fx-background-color: #373737; }

.text-field { -fx-text-fill: #DBDADA; }

